body{
    background-color: #808080;text-align: center;color: white;
}

h3{
    text-align: left;
}
a:hover{
    color: red;
}
a{
    color: black;
    position: fixed;
}
.nome{
    display: inline;
    color: black;
    font-size: 40px;
}
.font{
    font-size: smaller  ;
}
.padding{
    padding-top: 20px;
}
.cor{
    color: black;
}
.lista{ 
    border: solid;
    border-color: black;
}