body{
    background-color: #808080;text-align: center;
}
body{
    color: white;
}
h3{ 
    color: white;text-align: left;
}
table, th, td {
    border: 1px solid;
  }
a{
    color: black;
    position: fixed;
}
a:hover{
    color: red;
}