body{
    background-color: orangered;
}
#canvas {
    background-color: white;
    border: solid black;
}

.div-container{
    display: flex;
}

div{
    display: flex;
    justify-content: center;
}
#canvas2{
    background-color: lightgreen;
}
.fonte{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}