header {
    background-color: bisque;
    color: darkgreen;
    font-weight: bolder;
    border: 3px solid blue;
    padding: 20px;
    margin: 3px;
    margin-bottom: 0;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text {
    flex-grow: 1;
    text-align: center;
}
img{
    margin-right: 10px;
}
body{
    font-family: 'Times New Roman', Times, serif ;
    background-color: lightgray;
}
.quadrado{
    background-color: lightsteelblue;
    color:#6c027a ;
    padding: 2px 0;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
}
.lst ul li {
    display: inline;
    font-weight: bold;
}
.lst ul li a {
    color: darkred;
    padding: 40px;
    font-weight: bold;
}
.center{
    justify-content: center;
    align-items: center;
}
.textao {
    color:#4b0082 ;
    font: arial ;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.center-livros img{
    display: inline;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    text-align: center;
    justify-content: center;

}
.alinhar{
    text-align: center;    
}
.tabela{
    border: 5px dashed red;
}
.tabela th td {
    border: 2px dashed red;
    padding: 5px;
}
.porfavor{
    justify-items: center;
}
.amarelao {
    width: 500px;
    background-color: yellow;
    padding: 10px;
    margin-top: 100px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: space-between 1px;
}
.titulo{
    text-align: left;
}
.meio{
    margin-left: 700px;

}

a:hover{
    color: red;
}
a{
    color: red;
}
.rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    margin-top: 20px;
}   
.texto{
    font-family: comic sans ms;
    font-size: 15pt;
    margin-right: 750px;
}
.img{
    text-align: right;
    margin-bottom: 50px;
}
