.color{
    background-color: #C0C0C0;
}
.fonte{
    font-size: 25px;
}
.border{
    border: 5px solid coral;
}
.shadow{
    box-shadow: 5px 5px chocolate;
}
.raio{
    border-radius: 10px;
}

a{
    color: chocolate;
}
