.color{
    background-color: #778899;
}
.inicio{
    background-color: #C0C0C0;
    border: 5px solid black;
    position: relative;
    top: 15px;
    left: 15px;
    
}
.inline{
    display: inline;
    padding: 5px;
}
.grid{
    border: 5px solid black;
    padding: 5px;
    background-color: #C0C0C0 ;
}
.margin{
    margin: 10px;
    padding: 10px;
}
.circulo{
    list-style-type: circle;
    
}
.relative{
    position: relative;
    top: 20px;
}
.vsf{
    position: relative;
    padding: 5px;
    height: 10px;
    display: inline;
}
.fica{
    display: inline;
}