.flexcontainer{
    display: flex;
    
    flex-direction: column;
    align-items: center;
}
.flexcontainer div{
    display: flex;
    padding: 5px;
    background-color: purple;
    flex-direction: center;
    
}
#font{
    font-size: 15px;
}
#font2{
    font-size: 20px;
}