body{
    background-color: bisque;
}


#center{
    display: flex;
    justify-content: center;
}

.divcontainer{
    display: flex;

}

p{  
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    justify-self: center;
}

h1{  
    font-size: 30px;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    justify-self: center;
}

