body{
    background-color: black;
    text-align: center;
    color: white;
}

h3{
    text-align: left;
}
a:hover{
    color: red;
}
a{
    color: white;
    position: fixed;
}
.nome{
    display: inline;
    color: white;
    font-size: 40px;
}
.font{
    font-size: smaller  ;
}
.padding{
    padding-top: 20px;
}
.cor{
    color: white;
}


