body{
    background-color: black;
    text-align: center;
    color: white;
}

h3{
    text-align: left;
}
a:hover{
    color: red;
}
container{
    display: flex;
    justify-content: space-between;

}

a{
    display: flex;
    justify-content: space-between;
    position: fixed;
    color:white;
}
.nome{
    display: inline;
    color: white;
    font-size: 40px;
}
.font{
    font-size: smaller  ;
}
.padding{
    padding-top: 20px;
}
.cor{
    color: white;
}


