<!DOCTYPE html>
<html>
    <head>
        <title>exemplo FOR</title>
        <meta charset="UTF-8">
        <link href="ejs.css" rel="stylesheet">
    </head>
    <body>
        <h1>exemplo de FOR</h1>
        <% for (var i = 1; i <= valor;  i++ ) { %>
           <div>
               <%= i %>
           </div>
        <% } %>
        
        </body>
        
</html>