<!DOCTYPE html>
<html>
  <head>
    <title>Post Cadastrado</title>
    <link
      rel="stylesheet"
      href="post_cadastrado.css"
    />
  </head>
  <body>
    <h1>Post "<%= titulo %>" Cadastrado com Sucesso!</h1>
    <a href="/blog">Voltar para a Página Inicial</a>
  </body>
</html>