<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Resposta</title>
    <link
      rel="stylesheet"
      href="/Servidor/public/Projetos_Passados/Update_Delete/Aula12style.css"
    />
  </head>
  <body style="text-align: center; margin-top: 50px">
    <h2><%= mensagem %></h2>
    <% if (link) { %>
    <p><a href="<%= link %>">Clique aqui para continuar</a></p>
    <% } %>
  </body>
</html>