<!DOCTYPE html>
<html>
    <head>
        <title>Cadastro</title>
        <meta charset="UTF-8">
        <link href="ejs.css" rel="stylesheet">
    </head>
    <body>
        <h1 id="center">Cadastro</h1>
        <div class="pcontainer">
            <p>Nome: <%=nome %></p>
            <p>Login: <%=login %></p>
            <p>Senha: <%=senha %></p>
            <p>Nascimento: <%=nasc %></p>
         </div>
        
    </body>
</html>